<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitaiton Boarding</title>
</head>
<body>
    <h1>Hola!!!</h1>
    <p>{{inviterName}} este correo para invitarte a unirte a nuestra plataforma Solutions Gray. Y servir como voluntario en el ministerio
    de la iglesia {{churchName}}.
    </p>
    <p>Para poder acceder a la plataforma, por favor sigue el siguiente enlace:</p>
    <a href="http://localhost:5173/invitation-boarding/{{token}}">Unirme a Solutions Gray</a>
  </body>
</html>