<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>El ministerio liderado por el pastor {{pastorName}} quiere unirse a ti</h1>
    <ul>
        <li>Nombre de la Iglesia: {{churchName}}</li>
        <li>Nombre del Pastor: {{pastorName}}</li>
        <li>Email: {{email}}</li>
        <li>País: {{countryId}}</li>
        <li>Token: {{token}}</li>
    </ul>
    <p><a href="https://viddefe.com/home">Ver Lead</a></p>
    <p>Si no deseas aceptarlo simplemente ignora este lead</p>
</body>
</html>
